@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

header {
    text-align: center;
    padding: 300px;
    background-image: url("../assets/img/bgHeader.png");
    background-size: cover;
    background-position: center;
    color: black;
}
h1,
h2 {
    color: #f3710e;
    font-weight: 50px;
    
}
button.cursor-change {
    background-color: #ff7e5f; 
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

button.cursor-change:hover {
    background-color: #f3710e
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-size: cover;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-size: cover;
    flex-direction: row-reverse;
}
.section3 {
    display: flex;
    background-image: url('../assets/img/bgDown.png');
    background-position: center;
    padding: 32vh;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.section img {
    width: 40%;
    height: auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer-links a:hover {
    color: #ff7e5f;
}

footer {
    background-color: #f3710e;
    background-position: center;
    color: #fff;
}
.section img {
    width: 50%;
    max-width: 500px;
}
.textcontent {

}